/* Start Global */

/* my main color -> #e91e63 */

@import url('https://fonts.googleapis.com/css?family=Raleway');

* {
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
    max-width: 100%;
}

* a {
    text-decoration: none !important;
    color: aliceblue;
}

.row {
    margin: 0!important;
}

.seperator {
    border: 1px solid rgba(233, 30, 99, 0.2);
}

.special-h {
    margin: 0 0 30px;
    color: #3d3d3d;
    text-transform: uppercase;
    position: relative;
    letter-spacing: 5px;
}

.special-h:after {
    content: "";
    display: block;
    width: 30px;
    position: absolute;
    left: 0;
    bottom: -10px;
    border-bottom: 2px solid #e91e63;
}

.overlay {
    position: absolute;
    /* top: 0; */
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    transition: all 0.5s ease;
}

.my-btn {
    padding: 5px 20px;
    margin: auto;
    background: none;
    border: 2px solid #888;
    color: #888;
    transition: all .2s ease;
    cursor: pointer;
}

.my-btn:focus {
    outline: none;
}

.my-btn:hover {
    color: #aaa;
    border-color: #aaa;
}

.my-btn:active {
    transform: scale(1.05);
}

.clear-fix {
    clear: both
}

.container {
    width: 80%;
    max-width: 100%;
    margin: auto;
    padding: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* End Global */

/* Start Navbar */

.navbar-brand {
    color: #e91e63!important
}

.mynavbar {
    color: aliceblue!important;
}

.mynavbar .links li {
    border-bottom: 2px solid transparent;
    text-transform: uppercase;
    transition: all .2s ease-in-out;
}

.mynavbar .links li:active {
    transform: scale(1.3);
}

.mynavbar .links li.active,
.mynavbar .links li:hover {
    border-bottom: 2px solid #e91e63;
    cursor: pointer;
}

.mynavbar .links li.active a,
.mynavbar .links li a:hover {
    color: #e91e63;

}

/* End Navbar */

/* Start Header */

.header {
    background-image: url(../img/header.jpg);
    background-size: cover;
    z-index: -2;
}

.header .slider {
    z-index: 5;

}

.header .bx-wrapper {
    height: 100%;
    background: none;
    color: aliceblue;
    border: none;
}

.header .bx-wrapper .bx-viewport {
    height: 100% !important;
    text-align: center;
    box-shadow: none;
}

.header .slider div {
    height: 150px;
    width: 50% !important;
    margin: auto !important;
    position: relative !important;
    z-index: 50;
}

.header .slider div h2 {
    font-weight: normal;
    margin-bottom: 0;
}

.header .slider div h2 span {
    color: #e91e63;
}

.header .slider div p {
    line-height: 1.2em;
    color: #bbb;
    margin-top: 10px;
}

/* End Header */

/* Start About */

.about {
    padding: 50px 0;
}

.about .items {
    margin: auto;
}

.about .items .item {
    height: 220px;
    margin: 5px 0;
}

.about .items .item i {
    width: 20%;
    margin-right: 10px;
    margin-top: 8%;
    color: #e91e63;
    float: left;
}

.about .items .item .info {
    float: right;
    width: 75%;
}

.about .items .item .info h3 {
    color: #2d2d2d;
}

.about .items .item .info p {
    width: 80%;
    color: #6d6d6d
}

/* ==== Start Team ==== */

.about .team {
    margin: 50px auto;
}

.about .team .info p {
    color: #6d6d6d;
}

.about .members {
    float: left;
}

.about .members .member {
    height: 170px;
    position: relative;
    transition: all 1s ease;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: cover;
}

.about .members .member1 {
    background-image: url(../img/member1.jpg)
}

.about .members .member2 {
    background-image: url(../img/member2.jpg)
}

.about .members .member3 {
    background-image: url(../img/member3.jpg)
}

.about .members .member4 {
    background-image: url(../img/member4.jpg)
}

.about .members .member .overlay {
    background-color: rgba(233, 30, 99, 1);
    opacity: 0;
}

.about .members .member:hover {
    -webkit-transform: translate(-5px, 0);
    -moz-transform: translate(-5px, 0);
    -o-transform: translate(-5px, 0);
    transform: translate(-5px, 0);
}

.about .members .member:hover .overlay {
    opacity: 0.88;
}


.about .members .member .overlay h4 {
    color: aliceblue;
    letter-spacing: 0;
    font-weight: normal;
    margin: 25% 0;
    margin-left: 5%;
    text-align: center;
    display: inline-block;
}

.about .members .member .overlay h3:after {
    border-bottom-color: aliceblue;
}


/* ==== End Team ==== */

/* End About */

/* Start Testimonials */

.testimonials {
    /* height: 400px; */
    background-image: url(../img/testimonials.jpg);
    background-size: cover;
    background-attachment: fixed;
    color: aliceblue;
    position: relative;
    text-align: center;
}

.testimonials .overlay {
    background-color: rgba(2, 0, 1, 0.71);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.testimonials h2 {
    color: aliceblue;
    width: 50%;
    margin: 60px auto;
}

.testimonials h2:after {
    left: 135px;
    top: 30px;
    width: 40px;
}

.testimonials .client {
    margin: auto;
    width: 70%;
    display: none
}

.testimonials .client q {
    line-height: 2;
    color: #ccc;
    font-style: italic;
}

.testimonials .client p {
    color: #e91e63;
}

.testimonials .client.active {
    display: block;
}


/* End Testimonials */

/* Start Portfolio */

.portfolio {
    padding: 40px 0;
}


.portfolio ul {
    margin-top: 50px;
    overflow: hidden;
}

.portfolio ul li {
    float: left;
    margin: 5px 0;
    margin-right: 20px;
    border: 1px solid #888;
    padding: 5px 15px;
    border-radius: 5px;
    color: #888;
    cursor: pointer;
    transition: all .3s ease;
}

.portfolio ul li:hover {
    transform: translate(3px, 0);
    border-color: #e91e63;
    color: #e91e63;
}

.portfolio ul li:active {
    transform: scale(1.2);
}

.portfolio ul li.active {
    background-color: #e91e63;
    border-color: #e91e63;
    color: aliceblue;
}

.portfolio .galery {
    overflow: hidden;
    cursor: pointer;
}

.portfolio .galery .galery-item {
    border-radius: 10px;
    overflow: hidden;
    height: 180px;
    width: 100%;
    margin-top: 10px;
    position: relative;
}

.portfolio .galery .galery-item img {
    width: 100%;
    height: 100%;
    transition: all 0.5s ease;
}

.portfolio .galery .galery-item:hover img {
    /*    transform: translate(0, -5px);*/
    transform: scale(1.1, 1.1);
}

.portfolio .galery .galery-item .overlay {
    background-color: #e91e63;
    opacity: 0;
    color: aliceblue;
}

.portfolio .galery .galery-item:hover .overlay {
    opacity: 0.8;
}

.portfolio .galery .galery-item .overlay h4 {
    color: aliceblue;
    text-align: center;
    line-height: 180px;
}

.portfolio .galery .galery-item .overlay h4:after {
    border-bottom-color: aliceblue;
    top: 105px;
    left: 116px;
}

.portfolio .galery .galery-item .overlay span {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.portfolio .galery .mix {
    display: none;
}

/* End Portfolio */

/* Start Contact */

.contact {
    background-color: #232323;
    position: relative;
    overflow: hidden;
}

.contact .container {
    color: aliceblue;
}


.contact .container > div {
    padding: 20px;
}

.contact .container div h3 {
    font-weight: normal;
    color: aliceblue;
    font-size: 1em;
    letter-spacing: .3em;
    margin-top: 20px;
}

.contact .container > div p {
    color: #aaa;
    font-size: 0.9rem;
    line-height: 1.5;
    margin: 20px 0 ;
}

.contact .container > div i {
    margin-right: 20px;
    text-shadow: 0 0 3px #fff;
    transition: all 0.3s ease;
    cursor: pointer;
}

.contact .container > div i:hover {
    transform: scale(1.1);
    text-shadow: none
}

.contact .container .tags span.tag {
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #aaa;
    border-radius: 2px;
    font-size: .8em;
    display: inline-block;
    margin-top: 10px;
    color: #aaa;
    transition: all 0.3s ease;
    cursor: pointer;
    text-transform: uppercase;
}

.contact .container .tags span.tag:hover {
    color: #e91e63;
    border-color: #e91e63
}

.contact .post {
    position: relative;
    overflow: hidden;
    margin: 10px 0;
    cursor: pointer;
    transition: all 0.3s ease
}

.contact .post:hover {
    transform: translateY(-7px)
}

.contact .info {
    width: 60%;
    margin-left: auto;
    display: inline-block;
    /* margin-left: 5%; */
    /* float: left; */
}

.contact img {
    width: 25%;
    /* float: left; */
}

.contact  .info h6 {
    font-weight: normal;
    margin: 5px 0 0;
    text-transform: capitalize;
    font-size: .7em
}

.contact .container .info span {
    color: #aaa;
    font-size: 0.8rem;
}

.contact .category {
    padding: 10px 0;
    margin: 10px 0;
    border-bottom: 1px solid #666;
    color: #aaa;
    transition: .3s ease-in-out;
    cursor: pointer;
}
.contact .category:hover {
    transform: translateY(-5px)
}

/* End Contact */

/* Start Footer */

footer {
    padding: 30px 0;
    color: #ccc;
    background-color: #232323
}

footer span {
    color: #e91e63
}

footer h4 {
    font-size: 1.2rem;
    display: inline;
    font-weight: normal;
}

footer i {
    animation: heartMove 0.5s alternate both infinite ease-in-out;
    color: #e91e63;
    margin: 0 5px;
}

@keyframes heartMove {
    from {
        transform: scale(1)
    }
    to {
        transform: scale(1.3)
    }
}
/* End Footer */
