/* Start Variables */
/* End Variables */
/* Start Mixins */
.with-shadow {
  -webkit-text-shadow: -4px 3px 2px #999;
  -moz-text-shadow: -4px 3px 2px #999;
  -ms-text-shadow: -4px 3px 2px #999;
  -o-text-shadow: -4px 3px 2px #999;
  text-shadow: -4px 3px 2px #999;
}
.transition {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/* End Mixins */
/* Start Global */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 100%;
}
body {
  padding-top: 80px;
  position: absolute;
}
.row {
  margin: 0 !important;
}
.main-brand {
  color: #034c6e !important;
  font-weight: bold;
  font-size: 32px;
}
.main-brand:hover {
  color: #034c6e;
}
.main-brand span {
  color: #ff3120;
  font-weight: lighter;
}
.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(47, 47, 47, 0.8);
  z-index: 0;
}
.secondary-heading {
  color: #034c6e;
  margin: 20px 0;
}
/* End Global */
/* Start Upper-bar */
.upper-bar {
  padding: 20px 0;
  background-color: #034c6e;
  color: #fff;
}
.upper-bar .info span {
  display: inline-block;
}
.upper-bar button {
  color: #fff;
  background-color: #ff3120;
  border: none;
  padding: 5px 20px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 5px 0 #d31000;
  -moz-box-shadow: 0 5px 0 #d31000;
  -ms-box-shadow: 0 5px 0 #d31000;
  -o-box-shadow: 0 5px 0 #d31000;
  box-shadow: 0 5px 0 #d31000;
  cursor: pointer;
}
.upper-bar button:focus {
  outline: none;
}
.upper-bar button:hover {
  -webkit-box-shadow: 0 4px 0 #b90e00;
  -moz-box-shadow: 0 4px 0 #b90e00;
  -ms-box-shadow: 0 4px 0 #b90e00;
  -o-box-shadow: 0 4px 0 #b90e00;
  box-shadow: 0 4px 0 #b90e00;
  -webkit-transform: translate(0, 1px);
  -moz-transform: translate(0, 1px);
  -ms-transform: translate(0, 1px);
  -o-transform: translate(0, 1px);
  transform: translate(0, 1px);
}
.upper-bar button:active {
  -webkit-box-shadow: 0 2px 0 #860a00;
  -moz-box-shadow: 0 2px 0 #860a00;
  -ms-box-shadow: 0 2px 0 #860a00;
  -o-box-shadow: 0 2px 0 #860a00;
  box-shadow: 0 2px 0 #860a00;
  -webkit-transform: translate(0, 3px);
  -moz-transform: translate(0, 3px);
  -ms-transform: translate(0, 3px);
  -o-transform: translate(0, 3px);
  transform: translate(0, 3px);
}
.upper-bar .left-align span:first-child {
  margin-right: 10px;
}
.upper-bar .left-align span:first-child i {
  padding: 0 5px;
}
/* End Upper-bar */
/* Start Navbar */
.navbar {
  background-color: #fff;
}
.navbar .navbar-nav .nav-link {
  color: #034c6e !important;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-text-shadow: 0 0 2px #333;
  -moz-text-shadow: 0 0 2px #333;
  -ms-text-shadow: 0 0 2px #333;
  -o-text-shadow: 0 0 2px #333;
  text-shadow: 0 0 2px #333;
}
.navbar .navbar-nav .nav-link:hover {
  color: #0691d1;
}
.navbar .navbar-nav .nav-link:active {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
.navbar .navbar-nav .active > .nav-link {
  -webkit-text-shadow: 0 0 1px #ff3120;
  -moz-text-shadow: 0 0 1px #ff3120;
  -ms-text-shadow: 0 0 1px #ff3120;
  -o-text-shadow: 0 0 1px #ff3120;
  text-shadow: 0 0 1px #ff3120;
  color: #ff3120;
}
/* End Navbar */
/* Start SLider */
.slider .carousel .carousel-inner {
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider .carousel .carousel-inner h1 {
  position: absolute;
  color: #eee !important;
  z-index: 3;
}
.slider .carousel .carousel-inner h1 span {
  background-color: #ff3120;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  padding: 0 10px 5px;
  margin-top: 5px;
  display: inline-block;
}
.slider .carousel .carousel-inner .carousel-item {
  background-size: cover;
}
.slider .carousel .carousel-inner .carousel-item:nth-child(3) {
  background-image: url(../images/Phone.jpg);
}
.slider .carousel .carousel-inner .carousel-item:nth-child(4) {
  background-image: url(../images/Laptop.jpg);
}
.slider .carousel .carousel-inner .carousel-item:nth-child(5) {
  background-image: url(../images/Tablet.jpg);
}
.slider .carousel .carousel-inner .overlay {
  background-color: rgba(34, 34, 34, 0.8);
  z-index: 1;
}
/* End SLider */
/* Start Features */
.features {
  padding: 50px 0 50px;
}
.features .row {
  margin: 0;
}
.features .feature-item {
  margin: 0 auto;
}
.features .feature-item span {
  margin-top: 30px;
  color: #fff;
  display: inline-block;
  width: 100px;
  height: 100px;
  line-height: 110px;
  background-color: #ff3120;
}
.features .feature-item span:hover {
  -webkit-animation: rotation 0.6s linear infinite;
  -moz-animation: rotation 0.6s linear infinite;
  -ms-animation: rotation 0.6s linear infinite;
  -o-animation: rotation 0.6s linear infinite;
  animation: rotation 0.6s linear infinite;
}
.features .feature-item h3 {
  margin: 15px auto 10px;
  color: #034c6e;
}
.features .feature-item p {
  text-align: center;
  color: #929292;
  margin-bottom: 0;
}
/* End Features */
/* Start Overview */
.overview {
  background-color: #f2f3f9;
  padding: 50px 0 50px;
}
.overview h1 {
  color: #2d2d2d;
  margin-bottom: 20px;
  -webkit-text-transform: uppercase;
  -moz-text-transform: uppercase;
  -ms-text-transform: uppercase;
  -o-text-transform: uppercase;
  text-transform: uppercase;
  letter-spacing: 6px;
}
.overview p {
  width: 70%;
  margin: 0 auto;
  color: #848484;
}
.overview span {
  -webkit-text-transform: uppercase;
  -moz-text-transform: uppercase;
  -ms-text-transform: uppercase;
  -o-text-transform: uppercase;
  text-transform: uppercase;
  -webkit-letter-spacing: 5px;
  -moz-letter-spacing: 5px;
  -ms-letter-spacing: 5px;
  -o-letter-spacing: 5px;
  letter-spacing: 5px;
  display: block;
  margin: 20px auto 10px;
  font-weight: lighter;
  color: #034c6e;
}
.overview button {
  -webkit-text-transform: uppercase;
  -moz-text-transform: uppercase;
  -ms-text-transform: uppercase;
  -o-text-transform: uppercase;
  text-transform: uppercase;
  background-color: #ff3120;
  border: none;
  padding: 10px 30px;
  color: #fff;
  -webkit-box-shadow: 0 7px 0 #999;
  -moz-box-shadow: 0 7px 0 #999;
  -ms-box-shadow: 0 7px 0 #999;
  -o-box-shadow: 0 7px 0 #999;
  box-shadow: 0 7px 0 #999;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.overview button:hover {
  -webkit-transform: translate(0, 1px);
  -moz-transform: translate(0, 1px);
  -ms-transform: translate(0, 1px);
  -o-transform: translate(0, 1px);
  transform: translate(0, 1px);
  -webkit-box-shadow: 0 6px 0 #999;
  -moz-box-shadow: 0 6px 0 #999;
  -ms-box-shadow: 0 6px 0 #999;
  -o-box-shadow: 0 6px 0 #999;
  box-shadow: 0 6px 0 #999;
}
.overview button:active {
  -webkit-transform: translate(0, 3px);
  -moz-transform: translate(0, 3px);
  -ms-transform: translate(0, 3px);
  -o-transform: translate(0, 3px);
  transform: translate(0, 3px);
  -webkit-box-shadow: 0 4px 0 #999;
  -moz-box-shadow: 0 4px 0 #999;
  -ms-box-shadow: 0 4px 0 #999;
  -o-box-shadow: 0 4px 0 #999;
  box-shadow: 0 4px 0 #999;
}
.overview button:focus {
  outline: none;
}
/* End Overview */
/* Start Work */
.work {
  padding-top: 50px;
}
.work h2 {
  margin-bottom: 30px;
}
.work p {
  line-height: 1.6;
  width: 70%;
  margin: 0 auto 50px;
}
.work ul {
  margin: 0 auto 15px;
}
.work ul li {
  padding: 10px 15px;
  color: white;
  background-color: #045d87;
  margin: 10px 5px 30px;
  -webkit-box-shadow: 0 10px 0 #022a3c;
  -moz-box-shadow: 0 10px 0 #022a3c;
  -ms-box-shadow: 0 10px 0 #022a3c;
  -o-box-shadow: 0 10px 0 #022a3c;
  box-shadow: 0 10px 0 #022a3c;
  cursor: pointer;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.work ul li:hover {
  -webkit-transform: translate(0, 2px);
  -moz-transform: translate(0, 2px);
  -ms-transform: translate(0, 2px);
  -o-transform: translate(0, 2px);
  transform: translate(0, 2px);
  -webkit-box-shadow: 0 8px 0 #022a3c;
  -moz-box-shadow: 0 8px 0 #022a3c;
  -ms-box-shadow: 0 8px 0 #022a3c;
  -o-box-shadow: 0 8px 0 #022a3c;
  box-shadow: 0 8px 0 #022a3c;
}
.work ul li.active {
  -webkit-box-shadow: 0 10px 0 #ec1200;
  -moz-box-shadow: 0 10px 0 #ec1200;
  -ms-box-shadow: 0 10px 0 #ec1200;
  -o-box-shadow: 0 10px 0 #ec1200;
  box-shadow: 0 10px 0 #ec1200;
  background-color: #ff493a;
  color: #fff;
}
.work ul li.active:hover {
  -webkit-box-shadow: 0 8px 0 #ec1200;
  -moz-box-shadow: 0 8px 0 #ec1200;
  -ms-box-shadow: 0 8px 0 #ec1200;
  -o-box-shadow: 0 8px 0 #ec1200;
  box-shadow: 0 8px 0 #ec1200;
}
.work ul li:active {
  -webkit-transform: translate(0, 4px);
  -moz-transform: translate(0, 4px);
  -ms-transform: translate(0, 4px);
  -o-transform: translate(0, 4px);
  transform: translate(0, 4px);
  -webkit-box-shadow: 0 6px 0 #ec1200;
  -moz-box-shadow: 0 6px 0 #ec1200;
  -ms-box-shadow: 0 6px 0 #ec1200;
  -o-box-shadow: 0 6px 0 #ec1200;
  box-shadow: 0 6px 0 #ec1200;
}
.work .shuffle-images .container-fluid {
  padding: 0;
}
.work .shuffle-images .row {
  margin: 0;
}
.work .shuffle-images .row .col-md {
  padding: 0;
  overflow: hidden;
}
.work .shuffle-images .row img {
  width: 100%;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.work .shuffle-images .row img:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
/* End Work */
/* Start Lates Posts */
.latest-posts {
  padding: 50px 0;
}
.latest-posts p {
  width: 70%;
  margin: 0 auto 50px;
}
.latest-posts .row {
  margin: 0;
}
.latest-posts .card {
  margin: 0 auto 50px;
  padding: 0 20px;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.latest-posts .card:hover img {
  filter: grayscale(0.2);
}
.latest-posts .card img {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  filter: grayscale(0.9);
}
.latest-posts .card .card-body {
  margin-bottom: 50px;
  padding: 0;
}
.latest-posts .card .card-body h5 {
  margin-top: 10px;
  margin-bottom: 0;
  color: #034c6e;
}
.latest-posts .card .card-body span {
  display: inline-block;
  font-size: 12px;
  color: rgba(102, 102, 102, 0.5);
  margin-bottom: 7px;
}
.latest-posts .card .card-body p {
  margin: 0 0 20px;
  color: #636363;
}
.latest-posts .card .card-body p a {
  color: #ff3120;
}
/* End Lates Posts */
/* Start Testimonials */
@media (max-width: 500px) {
  .testimonials {
    width: 600px;
  }
}
.testimonials {
  background: url('../images/testimonials.jpg');
  position: relative;
  background-attachment: fixed;
}
.testimonials .carousel-item .carousel-inner {
  height: 600px;
}
.testimonials .carousel-item .carousel-caption {
  top: 15%;
}
.testimonials .carousel-item .carousel-caption img {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  margin-bottom: 10px;
  max-width: 150px;
  max-height: 150px;
}
.testimonials .carousel-item .carousel-caption h5 {
  margin: 0;
}
.testimonials .carousel-item .carousel-caption span {
  display: block;
  margin-bottom: 20px;
  color: #c7c7c7;
}
.testimonials .carousel-item .carousel-caption q {
  display: block;
  font-style: italic;
  color: #ccc;
}
/* End Testimonials */
/* Start Pricing Table */
.pricing-table {
  background-color: #f5f5f5;
  padding-top: 80px;
}
.pricing-table .col-lg {
  padding: 0 35px;
}
.pricing-table h2 {
  margin: 0 auto 40px;
}
.pricing-table p {
  width: 70%;
  margin: 0 auto 30px;
}
.pricing-table .row {
  margin: 0;
}
.pricing-table .price-card {
  padding-top: 30px;
  margin: 30px auto 100px;
  background-color: #fff;
  color: #808080;
  -webkit-box-shadow: 0 0 30px 10px #dadada;
  -moz-box-shadow: 0 0 30px 10px #dadada;
  -ms-box-shadow: 0 0 30px 10px #dadada;
  -o-box-shadow: 0 0 30px 10px #dadada;
  box-shadow: 0 0 30px 10px #dadada;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.pricing-table .price-card:hover {
  -webkit-box-shadow: 0 0 20px 2px #dadada;
  -moz-box-shadow: 0 0 20px 2px #dadada;
  -ms-box-shadow: 0 0 20px 2px #dadada;
  -o-box-shadow: 0 0 20px 2px #dadada;
  box-shadow: 0 0 20px 2px #dadada;
}
.pricing-table .price-card h4 {
  color: #034c6e;
}
.pricing-table .price-card > span {
  margin-bottom: 30px;
  display: block;
}
.pricing-table .price-card h2.price {
  font-style: italic;
  background-color: #f5f5f5;
  padding: 10px 0;
  color: #034c6e;
  margin: 0 auto 20px;
}
.pricing-table .price-card h2.price span {
  font-size: 18px;
}
.pricing-table .price-card ul li {
  margin: 10px;
}
.pricing-table .price-card button {
  -webkit-text-transform: uppercase;
  -moz-text-transform: uppercase;
  -ms-text-transform: uppercase;
  -o-text-transform: uppercase;
  text-transform: uppercase;
  background-color: #ff3120;
  border: none;
  padding: 10px 30px;
  margin: 15px auto 50px;
  color: #fff;
  -webkit-box-shadow: 0 7px 0 #860a00;
  -moz-box-shadow: 0 7px 0 #860a00;
  -ms-box-shadow: 0 7px 0 #860a00;
  -o-box-shadow: 0 7px 0 #860a00;
  box-shadow: 0 7px 0 #860a00;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.pricing-table .price-card button:hover {
  -webkit-transform: translate(0, 1px);
  -moz-transform: translate(0, 1px);
  -ms-transform: translate(0, 1px);
  -o-transform: translate(0, 1px);
  transform: translate(0, 1px);
  -webkit-box-shadow: 0 6px 0 #860a00;
  -moz-box-shadow: 0 6px 0 #860a00;
  -ms-box-shadow: 0 6px 0 #860a00;
  -o-box-shadow: 0 6px 0 #860a00;
  box-shadow: 0 6px 0 #860a00;
}
.pricing-table .price-card button:active {
  -webkit-transform: translate(0, 3px);
  -moz-transform: translate(0, 3px);
  -ms-transform: translate(0, 3px);
  -o-transform: translate(0, 3px);
  transform: translate(0, 3px);
  -webkit-box-shadow: 0 4px 0 #333;
  -moz-box-shadow: 0 4px 0 #333;
  -ms-box-shadow: 0 4px 0 #333;
  -o-box-shadow: 0 4px 0 #333;
  box-shadow: 0 4px 0 #333;
}
.pricing-table .price-card button:focus {
  outline: none;
}
.pricing-table .price-card.active {
  margin-top: 10px;
}
.pricing-table .price-card.active h2.price {
  background-color: #ff3120;
  color: white;
}
.pricing-table .price-card.active button {
  background-color: #034c6e;
  -webkit-box-shadow: 0 7px 0 #022a3c;
  -moz-box-shadow: 0 7px 0 #022a3c;
  -ms-box-shadow: 0 7px 0 #022a3c;
  -o-box-shadow: 0 7px 0 #022a3c;
  box-shadow: 0 7px 0 #022a3c;
}
.pricing-table .price-card.active button:hover {
  -webkit-box-shadow: 0 6px 0 #011924;
  -moz-box-shadow: 0 6px 0 #011924;
  -ms-box-shadow: 0 6px 0 #011924;
  -o-box-shadow: 0 6px 0 #011924;
  box-shadow: 0 6px 0 #011924;
}
.pricing-table .price-card.active button:active {
  -webkit-transform: translate(0, 3px);
  -moz-transform: translate(0, 3px);
  -ms-transform: translate(0, 3px);
  -o-transform: translate(0, 3px);
  transform: translate(0, 3px);
  -webkit-box-shadow: 0 3px 0 #333;
  -moz-box-shadow: 0 3px 0 #333;
  -ms-box-shadow: 0 3px 0 #333;
  -o-box-shadow: 0 3px 0 #333;
  box-shadow: 0 3px 0 #333;
}
/* End Pricing Table */
/* Start Why Choose Us */
.choose-us {
  margin: 0 auto;
}
.choose-us .row {
  margin: 0;
  padding: 0;
}
.choose-us .content {
  padding-bottom: 30px;
}
.choose-us .col-lg-7 {
  width: 100%;
  background-color: #034c6e;
  color: #fff;
  padding: 0 20px 0 50px;
  display: flex;
  align-items: center;
}
.choose-us .col-lg-7 h2 {
  margin: 50px 0 30px;
}
.choose-us .col-lg-7 button {
  -webkit-text-transform: uppercase;
  -moz-text-transform: uppercase;
  -ms-text-transform: uppercase;
  -o-text-transform: uppercase;
  text-transform: uppercase;
  background-color: #ff3120;
  border: none;
  padding: 10px 30px;
  margin: 0;
  color: #fff;
  -webkit-box-shadow: 0 7px 0 #860a00;
  -moz-box-shadow: 0 7px 0 #860a00;
  -ms-box-shadow: 0 7px 0 #860a00;
  -o-box-shadow: 0 7px 0 #860a00;
  box-shadow: 0 7px 0 #860a00;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.choose-us .col-lg-7 button:hover {
  -webkit-transform: translate(0, 1px);
  -moz-transform: translate(0, 1px);
  -ms-transform: translate(0, 1px);
  -o-transform: translate(0, 1px);
  transform: translate(0, 1px);
  -webkit-box-shadow: 0 6px 0 #860a00;
  -moz-box-shadow: 0 6px 0 #860a00;
  -ms-box-shadow: 0 6px 0 #860a00;
  -o-box-shadow: 0 6px 0 #860a00;
  box-shadow: 0 6px 0 #860a00;
}
.choose-us .col-lg-7 button:active {
  -webkit-transform: translate(0, 3px);
  -moz-transform: translate(0, 3px);
  -ms-transform: translate(0, 3px);
  -o-transform: translate(0, 3px);
  transform: translate(0, 3px);
  -webkit-box-shadow: 0 4px 0 #333;
  -moz-box-shadow: 0 4px 0 #333;
  -ms-box-shadow: 0 4px 0 #333;
  -o-box-shadow: 0 4px 0 #333;
  box-shadow: 0 4px 0 #333;
}
.choose-us .col-lg-7 button:focus {
  outline: none;
}
.choose-us .col-lg-5 {
  padding: 0;
}
.choose-us .col-lg-5 img {
  width: 100%;
}
/* End Why Choose Us */
/* Start Statistics */
.statistics {
  color: #034c6e;
  padding: 70px 0;
}
.statistics .row {
  margin: 0;
}
.statistics .row .col-md div:last-child {
  color: #ff3120;
  font-style: italic;
}
.statistics .row .col-md .count {
  margin-top: 10px;
  font-size: 36px;
  font-weight: bolder;
}
/* End Statistics */
/* Start Let's Work Together */
.work-together {
  background-color: #ff3120;
  color: white;
  padding: 50px 0 50px;
}
.work-together h2 {
  margin: 20px 0 20px;
}
.work-together .col-md-4 {
  display: flex;
  align-items: center;
}
.work-together button {
  display: block;
  background-color: #034c6e;
  border: none;
  margin: 20px auto 20px;
  padding: 10px 30px;
  color: #fff;
  cursor: pointer;
  -webkit-text-transform: uppercase;
  -moz-text-transform: uppercase;
  -ms-text-transform: uppercase;
  -o-text-transform: uppercase;
  text-transform: uppercase;
  -webkit-box-shadow: 0 7px 0 #022a3c;
  -moz-box-shadow: 0 7px 0 #022a3c;
  -ms-box-shadow: 0 7px 0 #022a3c;
  -o-box-shadow: 0 7px 0 #022a3c;
  box-shadow: 0 7px 0 #022a3c;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.work-together button:hover {
  -webkit-transform: translate(0, 1px);
  -moz-transform: translate(0, 1px);
  -ms-transform: translate(0, 1px);
  -o-transform: translate(0, 1px);
  transform: translate(0, 1px);
  -webkit-box-shadow: 0 6px 0 #011924;
  -moz-box-shadow: 0 6px 0 #011924;
  -ms-box-shadow: 0 6px 0 #011924;
  -o-box-shadow: 0 6px 0 #011924;
  box-shadow: 0 6px 0 #011924;
}
.work-together button:active {
  -webkit-transform: translate(0, 3px);
  -moz-transform: translate(0, 3px);
  -ms-transform: translate(0, 3px);
  -o-transform: translate(0, 3px);
  transform: translate(0, 3px);
  -webkit-box-shadow: 0 4px 0 #00070b;
  -moz-box-shadow: 0 4px 0 #00070b;
  -ms-box-shadow: 0 4px 0 #00070b;
  -o-box-shadow: 0 4px 0 #00070b;
  box-shadow: 0 4px 0 #00070b;
}
.work-together button:focus {
  outline: none;
}
/* End Let's Work Together */
/* Start Footer */
footer p {
  color: #555;
}
footer div div {
  margin: 15px 0;
  color: #888;
}
footer .copyrights ul li {
  float: right;
  display: inline-block;
  margin: 0 10px;
}
footer .copyrights ul li a {
  color: #888;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
footer .copyrights ul li a.facebook:hover {
  color: #4267b2;
}
footer .copyrights ul li a.twitter:hover {
  color: #1da1f2;
}
footer .copyrights ul li a.github:hover {
  color: #666;
}
footer .copyrights ul li a.linked:hover {
  color: #0077b5;
}
footer .copyrights ul li a.insta:hover {
  color: #f73341;
}
footer .copyrights ul li a.codepen:hover {
  color: #666;
}
footer #heart {
  -webkit-animation: 0.5s beats infinite;
  -moz-animation: 0.5s beats infinite;
  -ms-animation: 0.5s beats infinite;
  -o-animation: 0.5s beats infinite;
  animation: 0.5s beats infinite;
  color: red;
}
/* End Footer */
/* Start Keyframes */
@keyframes rotation {
  25% {
    -webkit-transform: rotate(15deg);
    -moz-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    -o-transform: rotate(15deg);
    transform: rotate(15deg);
  }
  50% {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  75% {
    -webkit-transform: rotate(-15deg);
    -moz-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    -o-transform: rotate(-15deg);
    transform: rotate(-15deg);
  }
  100% {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }
}
@-webkit-keyframes rotation {
  25% {
    -webkit-transform: rotate(15deg);
    -moz-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    -o-transform: rotate(15deg);
    transform: rotate(15deg);
  }
  50% {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  75% {
    -webkit-transform: rotate(-15deg);
    -moz-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    -o-transform: rotate(-15deg);
    transform: rotate(-15deg);
  }
  100% {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }
}
@-moz-keyframes rotation {
  25% {
    -webkit-transform: rotate(15deg);
    -moz-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    -o-transform: rotate(15deg);
    transform: rotate(15deg);
  }
  50% {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  75% {
    -webkit-transform: rotate(-15deg);
    -moz-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    -o-transform: rotate(-15deg);
    transform: rotate(-15deg);
  }
  100% {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }
}
@-ms-keyframes rotation {
  25% {
    -webkit-transform: rotate(15deg);
    -moz-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    -o-transform: rotate(15deg);
    transform: rotate(15deg);
  }
  50% {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  75% {
    -webkit-transform: rotate(-15deg);
    -moz-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    -o-transform: rotate(-15deg);
    transform: rotate(-15deg);
  }
  100% {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }
}
@-o-keyframes rotation {
  25% {
    -webkit-transform: rotate(15deg);
    -moz-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    -o-transform: rotate(15deg);
    transform: rotate(15deg);
  }
  50% {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  75% {
    -webkit-transform: rotate(-15deg);
    -moz-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    -o-transform: rotate(-15deg);
    transform: rotate(-15deg);
  }
  100% {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }
}
@keyframes beats {
  25% {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
  }
  50% {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
  }
  75% {
    -webkit-transform: scale(1.15);
    -moz-transform: scale(1.15);
    -ms-transform: scale(1.15);
    -o-transform: scale(1.15);
    transform: scale(1.15);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes beats {
  25% {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
  }
  50% {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
  }
  75% {
    -webkit-transform: scale(1.15);
    -moz-transform: scale(1.15);
    -ms-transform: scale(1.15);
    -o-transform: scale(1.15);
    transform: scale(1.15);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
@-moz-keyframes beats {
  25% {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
  }
  50% {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
  }
  75% {
    -webkit-transform: scale(1.15);
    -moz-transform: scale(1.15);
    -ms-transform: scale(1.15);
    -o-transform: scale(1.15);
    transform: scale(1.15);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
@-ms-keyframes beats {
  25% {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
  }
  50% {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
  }
  75% {
    -webkit-transform: scale(1.15);
    -moz-transform: scale(1.15);
    -ms-transform: scale(1.15);
    -o-transform: scale(1.15);
    transform: scale(1.15);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
@-o-keyframes beats {
  25% {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
  }
  50% {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
  }
  75% {
    -webkit-transform: scale(1.15);
    -moz-transform: scale(1.15);
    -ms-transform: scale(1.15);
    -o-transform: scale(1.15);
    transform: scale(1.15);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
/* End Keyframes */
/* Start Media Query */
@media (max-width: 576px) {
  .upper-bar .info:first-child {
    margin-bottom: 0;
  }
  .slider .carousel-inner {
    justify-content: center;
  }
  .slider .carousel-inner h1 {
    font-size: 30px;
    position: relative;
  }
}
/* End Media Query */
